/** Reset Do Css padrão **/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #e228d8 #262626;
}


/** Webkit Scroll **/
*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-track{
    background: #262626;
}
*::-webkit-scrollbar-thumb{
    background-color: #e228d8;
    border-radius: 20px;
    border: 3px solid #262626;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/** Estilização do site **/
body{
    min-height: 100vh;
    background-image: url("../imagens/fundo-site.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.cartao{
    background-color: #070b12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
    overflow: hidden;
    /**box-shadow: 5px 5px 50px #e126d9, -5px 5px 50px #e126d9;**/
}
.abas img{
    width: 30px;
    height: 30px;
}
.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cartao .minhas-informacoes .foto-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 4px solid #02d08f;
}
.cartao .minhas-informacoes .nome{
    font-size: 26px;
}
.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}
.cartao .conteudo {
    margin-top: 15px;
}
.cartao .abas{
    display: flex;
}
.cartao .abas .aba{
    width:50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}
.cartao .abas .aba.selecionado{
    background-color: #262626;
}
.cartao .abas .aba:hover{
    background-color: dimgray;
}
.cartao .informacoes-abas {
    background-color: #262626;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.informacoes-abas .informacao{
    min-height: 200px;
    display: none;
    padding: 15px;
}
.informacoes-abas .informacao.selecionado{
    display: block;
}
.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes-sociais li a{
    width: 220px;
    font-size: 20px;
    padding: 5px 0;
    display:block;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    border-radius: 2px;
}
.redes-sociais li .curriculo{
    background-color: red;
}
.redes-sociais li .linkedin{
    background-color: cornflowerblue;
}
.redes-sociais li .github{
    background-color: darkslategrey;
}
.redes-sociais li a:hover{
    opacity: 0.8;
}